* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

body {
    background-image: url(../images/circuit.jpg);
}

.container{
    display: flex;
    width: 100vw;
    height: max-content;
    margin: 0px;
}